<div>
  <div>
    <h1>
      Bottom #<%= @the_bottom.id %> details
    </h1>

    <div>
      <div>
        <a href="/bottoms">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bottom/<%= @the_bottom.id %>">
          Delete bottom
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Temperature minimum
      </dt>
      <dd>
        <%= @the_bottom.temperature_minimum %>
      </dd>

      <dt>
        Temperature maximum
      </dt>
      <dd>
        <%= @the_bottom.temperature_maximum %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_bottom.image %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_bottom.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bottom.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bottom.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bottom
    </h2>

    <form action="/modify_bottom/<%= @the_bottom.id %>"  method="post" >
      <div>
        <label for="temperature_minimum_box">
          Temperature minimum
        </label>

        <input type="text" id="temperature_minimum_box" name="query_temperature_minimum" value="<%= @the_bottom.temperature_minimum %>">
      </div>

      <div>
        <label for="temperature_maximum_box">
          Temperature maximum
        </label>

        <input type="text" id="temperature_maximum_box" name="query_temperature_maximum" value="<%= @the_bottom.temperature_maximum %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_bottom.image %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_bottom.user_id %>">
      </div>

      <button>
        Update bottom
      </button>
    </form>
  </div>
</div>

<hr>
